.page-id-11 {
  .entry-header {
    display: flex;
    justify-content: center;
  }
}

.page-find-us {
  margin-left: 1rem;
  margin-right: 1rem;
  @include tablet {
    margin: auto;
    @include desktop {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
.page-find-us {
  .entry-title {
    color: #404040;
    font-family: 'Novecento Sans Web', sans-serif;
    letter-spacing: 2px;
    font-size: 2.4rem;
    width: unset;
    margin-top: 5rem;
    text-transform: uppercase;
    @include tablet {
      width: 100%;
      @include desktop {
        width: 56%;
      }
    }
  }
}
.page-id-11 {
  .icon-search {
    color: $main_green_dark;
  }
}
.page-id-11 {
  .journal-selection {
    margin: unset;
  }
}
.page-find-us {
  .entry-content {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    line-height: 1.75;
    @include tablet {
      max-width: 800px;
      @include desktop {
        max-width: 800px;
      }
    }
  }
}
.page-find-us {
  .entry-content {
    h2 {
      font-size: 2.1rem;
      display: flex;
      justify-content: flex-start;
    }
  }
}

//THIS IS THE CONTACT FORM 7

label {
  font-family: 'Novecento Sans Web', sans-serif;
  text-transform: uppercase;
}

.required {
  color: #d99054;
}
