.dark-wood {
  background-color: black;
}

.dark-wood {
  background-image: url(../../images/wood5.jpg);
  // background-size: 512px 512px;
  width: 100%;
  height: 250%;
  // object-fit: cover;
  background-size: cover;
  background-position: 50% 100%;
}

.footer-blocks-container {
  display: flex;
  justify-content: space-around;
  color: white;
  height: 18rem;
  padding-top: 2rem;
}
.text-footer h3 {
  color: #d99054;
  text-transform: uppercase;
  font-family: 'Novocento Sans Web', sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.day-of-week {
  font-weight: 700;
  p {
    font-family: 'Merriweather Web', serif;
  }
}
.day-of-week-kalendar {
  color: white;
  text-decoration: none;
}

.copyright {
  font-family: 'Merriweather Web', serif;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  // padding: 1.5rem 0;
}
.copyright_michal {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  font-size: 13px;
  font-family: 'Merriweather Web', serif;
  color: white;
  padding: 0.5rem 0;
}

.a-footer a {
  color: white;
  font-style: normal;
  font-family: 'Merriweather Web', serif;
}

.numerro-uno {
  font-family: 'Merriweather Web', serif;
  color: white;
}
.text-logo {
  width: 8rem;
  padding-top: 2rem;
  @include tablet {
    width: 14rem;
    @include desktop {
      width: 17rem;
    }
  }
}
.icons-wrapper {
  @include tablet {
    font-size: 1rem;
  }
  a {
    letter-spacing: 2rem;
    color: white;
    font-size: 1rem;
  }
  @include desktop {
    font-size: 1.5rem;
  }
  a {
    letter-spacing: 2rem;
    color: white;
    font-size: 2rem;
  }
}

.contact {
  margin-left: 1rem;
  @include tablet {
    margin-left: unset;

    @include desktop {
      margin-left: unset;
    }
  }
}
.bussiness-hours {
  display: none;
  @include tablet {
    display: block;
    .fa-calendar-alt {
      display: flex;
      justify-content: center;
      color: white;
      font-size: 2rem;
      @include desktop {
        // display: block;
        .fa-calendar-alt {
          display: flex;
          justify-content: center;
          color: white;
          font-size: 2rem;
        }
      }
    }
  }
}
