.dark-wood {
  background-color: black;
}

.dark-wood {
  background-image: url(../../images/wood5.jpg);
  // background-size: 512px 512px;
  width: 100%;
  height: 250%;
  // object-fit: cover;
  background-size: cover;
  background-position: 50% 100%;
}

.footer-blocks-container {
  display: flex;
  justify-content: space-around;
  color: white;
  height: 18rem;
  padding-top: 2rem;
}
.text-footer h3 {
  color: #d99054;
  text-transform: uppercase;
  font-family: 'Novocento Sans Web', sans-serif;
  font-size: 1rem;
}

.day-of-week {
  font-weight: 700;
  p {
    font-family: 'Merriweather Web', serif;
  }
}

.copyright {
  font-family: 'Merriweather Web', serif;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  padding: 1.5rem 0;
}
.a-footer a {
  color: white;
  font-style: normal;
  font-family: 'Merriweather Web', serif;
}

.numerro-uno {
  font-family: 'Merriweather Web', serif;
  color: white;
}
.text-logo {
  padding-top: 2rem;
  width: 17rem;
}

.icons-wrapper {
  @include desktop {
    font-size: 1.5rem;
  }
  a {
    color: white;
    font-size: 2rem;
  }
}
