.main-navigation {
  @include desktop {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    position: fixed;
    background-color: hsla(0, 0%, 100%, 0.25);
    border-bottom: 1px solid #e1e1e11b;
    height: 2.5rem;
  }
}

.menu-main-menu-container ul li {
  @include desktop {
    width: 7rem;
    display: flex;
    justify-content: center;
  }
}

.only_searchform {
  margin: 0 2rem 0 auto;
}
.search-submit {
  border: none;
  margin-top: -1rem;
  box-shadow: none;
  text-shadow: none;
  line-height: unset;
}

.icon-search {
  background: transparent;
  box-shadow: none;
  color: #fff;
  border: none;
  cursor: pointer;
}

.site-header .search-field {
  background: transparent;
  display: none;
}

fieldset {
  border: none;
  padding-top: 1.5rem;
  padding-right: 1rem;
}
