.blog,
.single-post,
.page-id-11,
.page-id-166,
.page-id-235,
.search-results,
.search-no-results,
.error404,
.page-id-283 {
  .main-navigation {
    background-color: hsla(0, 0%, 100%, 0.85);
    border-bottom: 1px solid #e1e1e1;
    height: 3rem;
    float: unset;
  }
}

.journal-hockey-picture img {
  margin-top: 1rem;
  @include tablet {
    width: 691px;
    @include desktop {
      width: 791px;
      margin: unset;
    }
  }
}

.blog,
.single-post,
.page-id-11,
.page-id-166,
.page-id-235,
.search-results,
.search-no-results,
.error404,
.page-id-283 {
  .menu-main-menu-container li a {
    color: $main_green_dark;
  }
}
.blog,
.single-post,
.page-id-166,
.page-id-235,
.search-results,
.search-no-results,
.error404,
.page-id-283 {
  .fa-search {
    color: $main_green_dark;
  }
}

.training-title-vs-info {
  position: absolute;
}

.journal-entry-title {
  display: flex;
  justify-content: center;
  @include tablet {
    display: block;
  }
  @include desktop {
    display: block;
  }
}

.journal-entry-title a,
.journal-single-entry-title {
  position: absolute;
  text-decoration: none;
  background-color: $main_green_dark;
  margin-top: 2.25rem;
  font-size: 1.5rem;
  // text-transform: uppercase;
  color: white;
  padding: 0.75rem 1.5rem;

  @include desktop {
    font-size: 2.1rem;
    width: 22rem;
    margin-top: 4rem;
    left: unset;
    // left: 9.75rem;
  }
}
.entry-content-journal {
  display: flex;
  flex-direction: column;
  text-align: center;
  @include tablet {
    display: unset;
    flex-direction: unset;
    text-align: unset;
    p {
      margin-top: 1rem;
      margin-bottom: 2rem;
      @include desktop {
        display: unset;
        flex-direction: unset;
        text-align: unset;
        p {
          margin-top: 1rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
.button-journal {
  color: black;
}

// .boss-color-journal {
//   filter: grayscale(100%);
//   transition: 0.5s;
//   overflow: hidden;
//   cursor: pointer;
//   &:hover {
//     filter: grayscale(0);
//     transform: translateX(0);
//   }
//   &:hover {
//     .journal-entry-title a,
//     .journal-single-entry-title {
//       transform: translateX(0);
//     }
//   }
// }

// .journal-entry-title a,
// .journal-single-entry-title {
//   text-align: auto;
//   transition: 1s;
//   transform: translateX(-100%);
//   margin-top: 2rem;
// }

.journal_page_button,
.nav-next,
.nav-previous {
  margin-top: 1rem;
  margin-bottom: 2rem;

  a {
    border: solid 1px $main_green_dark;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    background-color: $main_green_dark;
    &:hover {
      background-color: white;
      color: $main_green_dark;
    }
    @include desktop {
      padding: 0.5rem;
      font-size: 1rem;
    }
  }
}

.front_page_button {
  margin-top: 1rem;
  margin-bottom: 1rem;

  a {
    border: solid 1px white;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    padding: 1rem;
    &:hover {
      background-color: $main_green_dark;
      color: white;
    }
    @include desktop {
      padding: 0.5rem;
    }
  }
}
