.blog,
.single-post,
.page-template-default {
  .main-navigation {
    background-color: hsla(0, 0%, 100%, 0.85);
    border-bottom: 1px solid #e1e1e1;
    height: 3rem;
  }
}

.journal-hockey-picture img {
  @include desktop {
    width: 791px;
  }
}
.blog,
.single-post,
.page-template-default {
  .menu-main-menu-container li a {
    color: #647874;
  }
}
.blog,
.single-post {
  .fa-search {
    color: #647874;
  }
}
.training-title-vs-info {
  position: absolute;
}

.journal-entry-title a,
.journal-single-entry-title {
  position: absolute;
  text-decoration: none;
  background-color: #647874;
  margin-top: 2rem;
  font-size: 2.1rem;
  color: white;
  padding: 0.75rem 1.5rem;
  @include desktop {
    width: 25rem;
  }
}

.button-journal {
  color: black;
}

.boss-color-journal {
  filter: grayscale(100%);
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    filter: grayscale(0);
    transform: translateX(0);
  }
  &:hover {
    .journal-entry-title a,
    .journal-single-entry-title {
      transform: translateX(0);
    }
  }
}

.journal-entry-title a,
.journal-single-entry-title {
  text-align: auto;
  transition: 1s;
  transform: translateX(-100%);
  margin-top: 2rem;
}

.journal_page_button,
.front_page_button,
.nav-next {
  margin-top: 1rem;
  margin-bottom: 1rem;

  a {
    border: solid 1px #647874;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    background-color: #647874;
    &:hover {
      background-color: white;
      color: $main_green_dark;
    }
    @include desktop {
      padding: 0.5rem;
    }
  }
}

.front_page_button a {
  border: solid 1px white;
  color: white;
  border-radius: 15px;
  &:hover {
    background-color: #647874;
    color: white;
  }
}
