.logo-full {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo-full-front {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  @include tablet {
    width: 42%;
    @include desktop {
      width: 42%;
    }
  }
}

.selected-posts h2 {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: unset;
  margin-top: 0rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  @include tablet {
    margin-bottom: 3.75rem;
    margin-top: 3.75rem;
    font-size: 2.4rem;
    letter-spacing: 0.25rem;
    @include desktop {
      margin-top: 3.75rem;
      margin-bottom: 3.75rem;
      font-size: 2.4rem;
      letter-spacing: 0.25rem;
    }
  }
}

.selected-posts-front-page {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: auto;
  @include tablet {
    max-width: 550px;
    @include desktop {
      flex-direction: row;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      flex-wrap: wrap;
      max-width: unset;
      width: 93%;
      margin: auto;
    }
  }
}
.wrapper_thumbnail_front_page {
  @include desktop {
    margin-top: 1rem;
  }
}

.post-image {
  margin-top: 1rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  @include desktop {
    margin-top: unset;
  }
}

.post {
  // border: 1px solid #e1e1e1;
  flex: 0 1 26%;
}
.post-title a {
  display: flex;
  justify-content: center;
  font-family: 'Novecento Sans Web', sans-serif;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 1.25;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 1s;
  &:hover {
    transition: 1s;
    font-size: 2rem;
    color: white;
  }
}

.front_page_button {
  margin-left: 0.5rem;
  color: white;
  display: flex;
  justify-content: center;
  a {
    color: white;
  }
}
.canoe-girl-nature {
  max-width: 360px;
  margin: auto;
  @include tablet {
    max-width: 550px;
    @include desktop {
      max-width: unset;
      margin: unset;
    }
  }
}

.description-grid h2 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  @include desktop {
    font-size: 2.4rem;
    letter-spacing: 0.25rem;
  }
}

.grid-container-nature {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  @include desktop {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4.5rem;
    height: 645px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'canoe-girl canoe-girl beach-fire beach-fire' 'canoe-girl canoe-girl sky hills ';
  }
}
.canoe-direct,
.stars-pct,
.hills-pcs,
.fire-beach-pcs {
  border-radius: 15px;
  @include desktop {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: unset;
    border: 10px solid white;
  }
}
.fire-beach-pcs {
  // max-width: 100%;
  // max-height: 100%;

  max-width: 100em;
  max-height: 310px;
}

.canoe-girl {
  @include desktop {
    grid-area: canoe-girl;
  }
}
.beach-fire {
  @include desktop {
    grid-area: beach-fire;
  }
}
.hills {
  @include desktop {
    grid-area: hills;
    display: flex;
    justify-content: center;
  }
}
.sky {
  @include desktop {
    grid-area: sky;
  }
}
.canoe-text,
.beach-text,
.hills-text,
.stars-text {
  position: absolute;
  font-size: 22px;
  color: #fff;
  font-family: 'Merriweather Web', serif;
  font-weight: 400;
  text-transform: none;
  cursor: pointer;
  z-index: 2;
  margin-left: 2rem;
  margin-top: 2rem;
  @include desktop {
    font-size: 42px;
    width: 29rem;
  }
}

.hills-text {
  @include desktop {
    margin-left: 0rem;
  }
}

.canoe-text {
  text-decoration: none;
  color: #647874;
}

.beach-text {
  text-decoration: none;
  font-size: 38, 4px;
  color: #647874;
}

.hills-text,
.stars-text {
  font-size: 24px;
  width: 11rem;
}

button {
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  background-color: transparent;
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  font-size: 13.4px;
  font-family: sans-serif;
  font-family: 'Novecento Sans Web', sans-serif;
  margin-top: 1.5rem;

  &:hover {
    background: hsla(0, 0%, 100%, 0.45);
    color: white;
  }
}

.canoe-text button,
.hills-text button,
.beach-text button {
  background-color: #647874;
}

.canoe-direct img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

//THIS IS THE WEATHER ICON

.weather-widget {
  display: flex;

  @include desktop {
    display: block;
    text-align: center;
  }
}

.ikona {
  margin: auto;
  @include desktop {
    margin: unset;
  }
}

.descript {
  display: none;

  @include desktop {
    display: block;
  }
}

.weather-widget p {
  color: white;
}
.temp-descript {
  margin: 1rem;
  @include desktop {
    margin-top: -2rem;
  }
}

//END OF WEATHER

// .canoe-girl {
//   position: relative;
//   width: auto;
//   display: inline-block;
//   &::before {
//     content: '';
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
//     z-index: 4;
//   }
//   img {
//     max-width: 100%;
//     position: relative;
//     z-index: 1;
//   }
// }
