.logo-full h3 {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Novecento Sans Web', sans-serif;
  font-size: 45px;
  font-weight: 700;
}

.page-about {
  .entry-content {
    margin-top: 2rem;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2rem;
    @include tablet {
      max-width: 700px;
    }

    h2 {
      display: flex;
      justify-content: center;
      font-size: 2rem;
      @include desktop {
        max-width: 800px;
      }
    }
    h2 {
      display: flex;
      justify-content: center;
      font-size: 2rem;
    }
  }
}
.has-text-align-left {
  display: flex;
  text-align: center;
  flex-direction: column;
  @include tablet {
    text-align: unset;
    flex-direction: unset;

    @include desktop {
      text-align: unset;
      flex-direction: unset;
    }
  }
}
