.single-post {
  .entry-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include desktop {
      display: unset;
      text-align: unset;
      text-align: unset;
    }
  }
}

.single-post {
  .entry-content h2 {
    font-size: 1.2rem;
    color: $main_green_dark;
    text-transform: uppercase;
    font-weight: 100;
  }
}
