/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
  // margin: 0 0 $base__space-unit;

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }
}
.blog {
  .widget-title ul {
    margin: unset;
    padding-left: 0rem;
    list-style: disc;
  }
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}

//THIS IS THE SIDEBAR

.grid-container {
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'journal-selection journal-selection journal-selection Sidebar-uni' 'journal-selection journal-selection journal-selection Sidebar-uni' 'journal-selection journal-selection journal-selection Sidebar-uni';
  }
}
.journal-selection {
  grid-area: journal-selection;

  margin: 3rem auto auto auto;
}

.single-post {
  .journal-selection {
    margin: 4.5rem auto auto auto;
  }
}

.sidebar-uni {
  grid-area: Sidebar-uni;
  border-left: 1px solid #e1e1e1;
  margin-left: unset;
  @include desktop {
    margin-left: -4rem;
    margin-top: 3rem;
  }
}
.sidebar-uni {
  a {
    font-family: 'Merriweather Web', serif;
    color: #647874;
  }
}
.sidebar-uni {
  .widget-area {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include desktop {
      display: flex;
      flex-direction: column;
      text-align: inherit;
      margin-left: 3rem;
    }
  }
}
.main-journal-section {
  // flex-direction: column;

  @include desktop {
    max-width: 800px;
    display: flex;
    flex-direction: column;
  }
}
.entry-content-journal p {
  max-width: 365px;
  margin: auto;
  @include desktop {
    max-width: 795px;
    // margin: unset;
  }
}

//THIS IS TO CENTER WIDGET SIDEBARS SEPARATELY

// .widget_custom_html,
// .tent-bizz-hours-class,
// .tribe-events-list-widget {
//   @include desktop {
//     margin: auto;
//   }
// }
